*{
	margin:0;
	padding:0;
	
}

.container {
	/*width: 960px;*/
	font-family: 'Open Sans', sans-serif;
	margin: auto;
}


img{
	width: 100%;
}



a {
	text-decoration: none;
	color: #000;

}




@media screen and (max-width: 767px) {
			
			
				.header {
				width: 80px;
				margin: auto;		
			}

			button {
				/*display: none;*/
			}


			button {
				background-color: transparent;
				border-radius: 4px;
				border:1px solid transparent;
				top: 1%;
				float: left;
				font-weight: 500;
				font-size: 12px;
				padding-left: 10px;
	
			}
			
			.ham_button {
				width: 100%;
				background-color: transparent;
				/*background-color: white;*/
				height: 60px;
				position: fixed;
				top: 0;
				z-index: 1;
				/*display: none;*/
				/*border-bottom: 1px solid #ccc;*/
			}


			span{
				width: 23px;
				height: 2px;
				display: block;
				background-color: #000;
				border-radius: 1px;
				margin: 4px 0;
			}


			nav:after {
				content: "";
				display: block;
				clear: both;
			}

				.menu {
			background-image: url(nav-09.png);
			background-position: top center;
			background-size: contain;
			background-repeat: repeat-x;
			margin: auto;
			/*position: relative;*/
			/*position: fixed;*/
			/*position: absolute;*/
			top: 0;
			
			}
			.ham {
				width: 100%;
				background-color: #ccc;
				font-family: 'Open Sans', sans-serif;
				position: fixed;
				top: 0;
				z-index: 2;
				height: 1000px;
				display: "";
				/*display: none;*/
				/*visibility:visible;*/
			}



			.ham img:first-child {
				width: 24px;
				/*margin: auto;*/
				padding:0 10%;
				position: absolute;
				top: 2%;
			} 

			.main a {
				display: block;
				padding:8% 0;
			}


			.main {
				/*width: 100%;*/
			font-size: 25px;
			margin: 15% auto;
			/*margin:0 10%;*/
			/*position: relative;*/
			/*top: -50px;*/
			}


			.main ul li:first-child {
				border-top: 1px solid #000;
			}

			.main li {
				font-size: 20px;
				display: block;
				/*padding:8% 0;*/
				text-align: center;
				border-bottom: 1px solid #000;
				/*line-height: 25px;*/
			}

			.sub li{
				margin: 5% 0;
				text-align: center;
			}
			 .sub ul{
				font-size: 20px;
				display: none;
				margin: auto;
				text-align: center;
			}

			.sub img {
				width: 24px;
				margin: auto;
				padding:0 10%;
			} 
				
			.web {
				display: none;
			}


			.banner {
				position: relative;
				margin-bottom: 20%;
			}


			.offer :after {
				content: "";
				display: block;
				clear: both;
			}

			 .product {
				position: relative;
				margin-top: 15%;
			}

			.offer {
				position: relative;
				/*margin-top: 15%;*/
			}
			

			.menu {
			background-image: url(nav-09.png);
			background-position: top center;
			background-size: contain;
			background-repeat: repeat-x;
			margin: auto;
			/*position: relative;*/
			/*position: fixed;*/
			/*position: absolute;*/
			top: 0;
			
			}
			.ham {
				width: 100%;
				background-color: #ccc;
				font-family: 'Open Sans', sans-serif;
				position: fixed;
				top: 0;
				z-index: 2;
				height: 1000px;
				display: "";
				/*visibility:visible;*/
			}

			.ham img:first-child {
				width: 24px;
				/*margin: auto;*/
				padding:0 10%;
				position: absolute;
				top: 2%;
			} 

			.main a {
				display: block;
				padding:8% 0;
			}


			.main {
				/*width: 100%;*/
			font-size: 25px;
			margin: 15% auto;
			/*margin:0 10%;*/
			/*position: relative;*/
			/*top: -50px;*/
			}


			.main ul li:first-child {
				border-top: 1px solid #000;
			}

			.main li {
				font-size: 20px;
				display: block;
				/*padding:8% 0;*/
				text-align: center;
				border-bottom: 1px solid #000;
				/*line-height: 25px;*/
			}

			.sub li{
				margin: 5% 0;
				text-align: center;
			}
			 .sub ul{
				font-size: 20px;
				display: none;
				margin: auto;
				text-align: center;
			}

			.sub img {
				width: 24px;
				margin: auto;
				padding:0 10%;
			} 


		.content {
			width: 90%;
			margin: auto;
		}

		.content_pic2 img{
			width: 50%;
			float: left;

		}

.content img {
	box-sizing: border-box;
	padding: 2%;
}





.content_pic2, .content_pic1{
	position: relative;
}

.hotspots_trigger {
	position: absolute;
}








	}














































/*========================================*/
@media screen and (min-width: 768px){
	
			/*選單按鈕在平板以上螢幕 隱藏!*/
		
		
			button, .ham img{
			display: none;
		}
	

		.menu {
			margin: auto;
			background-image: url(nav-small-12.png);
			background-position: top center;
			background-size: cover;
			background-repeat: repeat-x;
			position: relative;
		}


		.header {
			width: 150px;			
		}

		.main {
			font-size:25px;
			margin:0 10%;
			top: -40px;
			position: relative;
		}

		.main  li{
			width:24%;
			text-align: center;
		}


		.menu .list li {
			display: inline-block;
			text-align: center;
		}


		.sub {
			font-size: 15px;
			position: absolute;
			top: 40px;
			right: 0;
			width: 20%;
		}

		.sub li {
			width: 25%;
			margin: 0 1%;
			
		}


		
		.menu .main ul a:hover {
			border-bottom: 3px solid #9ed3ef;
		}

		.ham {
			display: none;
		}



.content{
	max-width: 1024px;
	margin:auto;
	position: relative;
}

.content_pic1, .content_pic2 {
	width: 80%;
	margin: auto;
	overflow: hidden;
	position: relative;
	
}

.content_pic2 .left , .content_pic2 .right{
	width: 50%;
	/*margin: 40px;*/
	padding:5%;
	box-sizing: border-box;
	float: left;
}


.content_pic2 .left {
	position: relative;
	top: 35px;
}


.content_pic2 .right {
	position: relative;
	top: -35px;
}

















}





/*=============平板以上設定結束==============================*/






/*===*/

.hotspots_trigger {
    background: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: absolute;
    text-align: center;  
}


.hotspots_trigger:after {
    background: transparent;
    border: 1px solid #3b73e2;
    border-radius: 50%;
    content: '';
    height: 90%;
	left: 0;
    position: absolute;
    top: 0;
    width: 90%;
    animation:pulsate  2s ease infinite;
}

.hotspots_trigger:before {
    content: '+';
    font-size: 20px;
    font-weight: bold;
	left: 0;
    line-height: 1;
    margin-top: -1px;
    position: absolute;
    width: 100%;
}

@keyframes pulsate {
	form {transform: scale(1.1);}
	to{transform: scale(1.4);}
}



.clear:after {
	content: "";
	display: block;
	clear: both;
}





 .one {
 	top:50%;
 	left: 20%;
 }


.two {
 	top:60%;
 	left: 30%;
 }

 .three {
 	top:55%;
 	left: 55%;
 }

 .four {
 	top:50%;
 	left: 80%;
 }

.one1 {
 	top:55%;
 	left: 15%;
 }


.two1 {
 	top:50%;
 	left: 25%;
 }

 .three1 {
 	top:65%;
 	left: 35%;
 }

 .four1 {
 	top:40%;
 	left: 82%;
 }


 .one2 {
 	top:40%;
 	left: 40%;
 }


 .one3 {
 	top:70%;
 	left: 30%;
 }

  .two3 {
 	top:40%;
 	left: 80%;
 }


/*================統一字體設定=============*/
.box, .footer {
	font-family: 'Open Sans', sans-serif;
}




/*=============trigger=============*/

.box {
	position: fixed;
	width: 200px;
	height: 300px;
	background-color: #fff;
	/*top: 360px;
	left:110px;*/
	display: none;
	text-align: center;
	top:60%;
 	/*left: 5%;*/
 	z-index: 1;
}

.box span:before {
	content: '';
	width: 0;
	height: 0;
	/*color: #000;*/
	position: absolute;
	top: -20px;
	left: 70px;
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
}


.box img {
	width: 130px;
	margin: 10px 10px 0;
}


.box a {
	background-color: #3b73e2;
	/*border: 1px solid #000;*/
	color: #fff;
}

.box a:hover {
	background-color: #9ed3ef;
	

}


 .active {
	display:block;
}








/*==============================================*/
.footer {
	/*width: 960px;*/
	width: 100%;
	/*margin: 100px 0 20px;*/
}

.footer a{
	display: block;
	height: 50px;
}




.footer .logo {
	width: 150px;
	height: 50px;
	background-size: cover;
	margin: auto;
	animation: footer 1s infinite;	
}

@keyframes footer{
	0%  {background-image: url(frame_life_1.png);}
	20% {background-image: url(frame_life_2.png);}
	40% {background-image: url(frame_life_3.png);}
	50% {background-image: url(frame_life_4.png);}
	70% {background-image: url(frame_life_5.png);}
	90% {background-image: url(frame_life_4.png);}
	100%{background-image: url(frame_life_3.png);}	
}


.footer_txt {
	text-align: center;
	font-size: 15px;
}





